.feed {
    width: 50%;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px dotted black; 
    height: 80vh; 
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.newPostButton {
    background-color: #008140;
    padding: 20px 20px;
    height: 10px;
    color: white; 
    border-radius: 12px;
    display: block;
    line-height: 0px;
    font-size: 16px;
}