.feed {
    width: 50%;
    margin: 0 auto; 
    padding: 20px; 
    border: 1px dotted black; 
    height: 80vh; 
    overflow-y: auto;
    display: flex; 
    flex-direction: column;
    align-items: center;
}